body {
  background-color: aquamarine;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

.container {
  background-color: beige;
  display: flex;
  justify-content: center;
}

.option-container {
  background-color: yellow;
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
  gap: 20px;
}

.grid-container {
  background-color: brown;
  min-height: 700px;
  min-width: 700px;
  max-width: 700px;
  max-height: 700px;
}

.color-picker {
  display: flex;
  gap: 10px;
  align-items: center;
}

.size-grid {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.row {
  display: flex;
  gap: 1px;
}

.cell {
  background-color: white;
  outline: 0.2px solid black;
}
